<div>
    <h1>Lucas S. Blog</h1>
</div>

<div class="container">
    <p>
        Eae tranquilo? Este é um blog mostrando o que li recentemente, livros, mangas que gostei bastante. Cada um deles trouxe algo especial, de uma olhada e me diga o que acha =D
    </p>
    <div class="button">
        <%= link_to 'Ver todas as postagens', posts_path, class: 'btn btn-primary' %>
    </div>
</div>


<p>Blog By Lucas Belo</p>